In [39]:
# *************************************
# ** Code Details : Distance Metrices
# ** Developers name : Manasi Hiremath
# ** Date : 07-Jul-2024
# *************************************

In [40]:
%load_ext jupyter_black

The jupyter_black extension is already loaded. To reload it, use:
  %reload_ext jupyter_black

In [41]:
import pandas as pd
import numpy as np

In [42]:
# Read Sensor readings, with temperature, light, humidity every 5 minutes at 8
# locations (trial, 2014 to 2015)‚Äù data
filename = r"c:\Users\rajhi\Downloads\sensor-readings-with-temperature-light-humidity-every-5-minutes-at-8-locations-t.csv"
df_fred = pd.read_csv(filename)
# check sample record
df_fred.tail(2).T

                                  56568                      56569
timestamp     2015-01-05T16:55:00+05:30  2015-01-05T16:55:00+05:30
mac                    0013a20040b31571           0013a20040b516ed
boardtype                             1                          1
boardid                             510                        505
temp_max                           17.1                       17.7
temp_min                           17.1                       17.7
temp_avg                           17.1                       17.7
light_max                           1.3                        3.1
light_min                           1.3                        3.1
light_avg                           1.3                        3.1
humidity_min                       54.1                       57.8
humidity_max                       54.1                       57.8
humidity_avg                       54.1                       57.8
model                               ENV                        ENV
latitude                     -37.819712                 -37.813073
longitude                    144.941325                 144.980406
elevation                           NaN                      29.91
location              Docklands Library            Fitzroy Gardens
rowid                510-20150105112500         505-20150105112500
Position                            NaN                        NaN
geolocation    -37.8197121, 144.9413253    -37.813073, 144.9804061

In [43]:
# *** Data cleaning

In [44]:
# since data has missing values,filling
# replacing missing elevation values by group mean of geolocation
df_fred["elevation"] = df_fred["elevation"].fillna(
    df_fred.groupby("geolocation")["elevation"].transform("mean")
)

# One Hot encoding
df_encod = df_fred.copy()
df_encod = pd.get_dummies(df_fred, columns=["location"], drop_first=True, dtype=int)

In [86]:
# dropping un-nessary columns
col_drop = ["timestamp", "mac", "model", "Position", "rowid", "geolocation"]
df_encod1 = df_encod.drop(columns=col_drop)

In [88]:
df_encod1.sample(2).T

                               52361       21501
boardtype                   1.000000    1.000000
boardid                   511.000000  509.000000
temp_max                   25.800000   13.500000
temp_min                   25.800000   13.500000
temp_avg                   25.800000   13.500000
light_max                  98.600000    3.100000
light_min                  98.600000    3.100000
light_avg                  98.600000    3.100000
humidity_min               34.600000   67.500000
humidity_max               34.600000   67.500000
humidity_avg               34.600000   67.500000
latitude                  -37.819500  -37.819904
longitude                 144.941889  144.940485
elevation                   3.750000    0.030000
location_Fitzroy Gardens    0.000000    0.000000

In [89]:
df_encod1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56570 entries, 0 to 56569
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   boardtype                 56570 non-null  int64
 1   boardid                   56570 non-null  int64
 2   temp_max                  56570 non-null  float64
 3   temp_min                  56570 non-null  float64
 4   temp_avg                  56570 non-null  float64
 5   light_max                 56570 non-null  float64
 6   light_min                 56570 non-null  float64
 7   light_avg                 56570 non-null  float64
 8   humidity_min              56570 non-null  float64
 9   humidity_max              56570 non-null  float64
 10  humidity_avg              56570 non-null  float64
 11  latitude                  56570 non-null  float64
 12  longitude                 56570 non-null  float64
 13  elevation                 56570 non-null  float64
 14  location_Fitzroy Gardens  56570 non-null  int64
dtypes: float64(12), int64(3)
memory usage: 6.5 MB

In [49]:
df_encod1.shape

(56570, 17)

## Lets consider any 2 records as 2 vectors in 17 dimensions.

In [90]:
df1 = df_encod1[1:3]
df1.T

                                   1           2
boardtype                   1.000000    1.000000
boardid                   511.000000  509.000000
temp_max                   19.700000   19.700000
temp_min                   19.700000   19.700000
temp_avg                   19.700000   19.700000
light_max                  10.600000    3.100000
light_min                  10.600000    3.100000
light_avg                  10.600000    3.100000
humidity_min               50.200000   57.900000
humidity_max               50.200000   57.900000
humidity_avg               50.200000   57.900000
latitude                  -37.819500  -37.819904
longitude                 144.941889  144.940485
elevation                   3.750000    0.030000
location_Fitzroy Gardens    0.000000    0.000000

In [73]:
df1[0:1]

,boardtype,boardid,temp_max,temp_min,temp_avg,light_max,light_min,light_avg,humidity_min,humidity_max,humidity_avg,latitude,longitude,elevation,rowid,geolocation,location_Fitzroy Gardens
1,1,511,19.7,19.7,19.7,10.6,10.6,10.6,50.2,50.2,50.2,-37.8195,144.941889,3.75,511-20150124111500,"-37.8195002, 144.9418888",0

19.090793648606397

# Euclidean distance= sqrt(sum((x11-x12)^2+ (x21-x22)^2))
![title](distance_1.jpg)

In [105]:
##**********Implimenation --1******************
# finding sum of squares
sum_sq = np.sum(np.square(point1 - point2))

# Doing squareroot and
# printing Euclidean distance
print(np.sqrt(sum_sq))

##**********Implimenation --2******************
# For Further Processing, now convert dataframe to array
array = df1
point1 = df1[0:1].to_numpy()
point2 = df1[1:2].to_numpy()

# calculating Euclidean distance
# using linalg.norm()
dist = np.linalg.norm(point1 - point2)

# printing Euclidean distance
print(dist)

19.090793648606397
19.090793648606397

# Cosine distance
![title](distance_2.jpg)

In [133]:
x = point1
y = point2.T
print(1 - np.dot(x, y) / (np.linalg.norm(x) * np.linalg.norm(y)))

### Implimentation --2
from numpy.linalg import norm

# compute cosine similarity
cosine = np.dot(x, y) / (norm(x, axis=1) * norm(y))
1 - cosine

[[0.00062255]]

array([[0.00062255]])

# Citiblock/Manahatan distance
![title](distance_3.jpg)

In [135]:
Manhatan_dist = np.sum(np.abs(point1 - point2))
Manhatan_dist

np.float64(51.32180779999998)

# Jaccard Distance
![title](distance_41.jpg)

In [136]:
A = {1, 2, 3, 4, 6}
B = {1, 2, 5, 8, 9}
# Intersaction and Union of two sets can also be done using & and | operators.
C = A.intersection(B)
D = A.union(B)
print("AnB = ", C)
print("AUB = ", D)
print("J(A,B) = ", float(len(C)) / float(len(D)))

AnB =  {1, 2}
AUB =  {1, 2, 3, 4, 5, 6, 8, 9}
J(A,B) =  0.25